##################################################################################
#
# PHP Lockpick
# Helps accessing protected/private members/consts of foreign objects
#
# @author    Marcin Orlowski <mail (#) marcinOrlowski (.) com>
# @copyright 2014-2024 Marcin Orlowski
# @license   http://www.opensource.org/licenses/mit-license.php MIT
# @link      https://github.com/MarcinOrlowski/php-lockpick
#
##################################################################################

parameters:
  level: max
  checkMissingIterableValueType: false
  paths:
    - src/
    - tests/
  ignoreErrors:
        -
            message: '#Parameter \#1 \$objectOrClass of class ReflectionClass constructor expects class-string<.*>|T of object, object\|string given\.#'
            path: '%currentWorkingDirectory%/src/Lockpick.php'
        -
            message: '#Parameter \#1 \$objectOrValue of method ReflectionProperty::setValue\(\) expects object\|null, mixed given#'
            path: '%currentWorkingDirectory%/src/Lockpick.php'
